In [11]:
def total_fruits(**fruits):
    total = 0
 
    for amount in fruits.values():
       total+= amount
    return total
total_fruits(banana= 5, mango=7, apple=8)

20

In [1]:
array = [100, 125, -90, 345, 655, -1, 0, 200]
print(sum(a for a in array if a > 0))

1425

In [3]:
dt = ['2021-09-14', '2021-12-15', '2021-09-08', 
      '2021-12-05', '2021-10-09', '2021-09-30', 
      '2021-12-22', '2021-11-29', '2021-12-24', 
      '2021-11-26', '2021-10-27', '2021-12-18', 
      '2021-11-09', '2021-11-23', '2021-09-27', 
      '2021-10-02', '2021-12-27', '2021-09-20', 
      '2021-12-13', '2021-11-01', '2021-11-09', 
      '2021-12-06', '2021-12-08', '2021-10-09', 
      '2021-10-31', '2021-09-30', '2021-11-09', 
      '2021-12-13', '2021-10-26', '2021-12-09']
sm = [1270, 8413, 9028, 3703, 5739, 4095, 295, 
      4944, 5723, 3701, 4471, 651, 7037, 4274, 
      6275, 4988, 6930, 2971, 6592, 2004, 2822, 
      519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
import pandas as pd
 
df = pd.DataFrame(sm, index=pd.to_datetime(dt))
print(df[df.index.month==11].sum()[0])

25098

In [6]:
dt = ['2021-09-14', '2021-12-15', '2021-09-08', 
      '2021-12-05', '2021-10-09', '2021-09-30', 
      '2021-12-22', '2021-11-29', '2021-12-24', 
      '2021-11-26', '2021-10-27', '2021-12-18', 
      '2021-11-09', '2021-11-23', '2021-09-27', 
      '2021-10-02', '2021-12-27', '2021-09-20', 
      '2021-12-13', '2021-11-01', '2021-11-09', 
      '2021-12-06', '2021-12-08', '2021-10-09', 
      '2021-10-31', '2021-09-30', '2021-11-09', 
      '2021-12-13', '2021-10-26', '2021-12-09']
sm = [1270, 8413, 9028, 3703, 5739, 4095, 295, 
      4944, 5723, 3701, 4471, 651, 7037, 4274, 
      6275, 4988, 6930, 2971, 6592, 2004, 2822, 
      519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in dt]
df['Sum'] = sm
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month').sum()

C:\Users\user\AppData\Local\Temp\ipykernel_7480\272342183.py:23: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Month').sum()

         Sum
Month
9      25647
10     28645
11     25098
12     45452